

/** choropleth visualization */

#fda_state_contracts{
  polygon-fill: #FFFFB2;
  polygon-opacity: 0.7;
  line-color: #FFF;
  line-width: 0.5;
  line-opacity: 1;
}
#fda_state_contracts [ most_recent_award_amount <= 4334123] {
   polygon-fill: #BD0026;
}
#fda_state_contracts [ most_recent_award_amount <= 3491329.2] {
   polygon-fill: #F03B20;
}
#fda_state_contracts [ most_recent_award_amount <= 2648535.4000000004] {
   polygon-fill: #FD8D3C;
}
#fda_state_contracts [ most_recent_award_amount <= 1805741.6] {
   polygon-fill: #FECC5C;
}
#fda_state_contracts [ most_recent_award_amount <= 962947.8] {
   polygon-fill: #FFFFB2;
}