<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>NYU mHealth Tobacco Map</title>
  
  <!-- CSS libraries  -->
  <link href="css/normalize.css" rel="stylesheet">
  <link rel="stylesheet" href="bower_components/leaflet/dist/leaflet.css" />
  <link rel="stylesheet" href="//libs.cartocdn.com/cartodb.js/v3/themes/css/cartodb.css" />
  <link rel="stylesheet" href="//cartodb.github.io/odyssey.js/sandbox/css/slides.css">
  
  <!-- Mapbox JS -->
  <script src='//api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.js'></script>
  
  <!-- CSS for UI  -->  
  <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>  

<body>
  
  <!-- address search box -->
  <div id="search-container" class="ui">
    <input type="search" placeholder="Search for an address" id="search-box" class="en"/>
    <input type="button" id="search-button" />  
  </div>

  <!-- buttons to toggle zoom -->
  <div id="ui-zoom" class="ui mini">
    <a href="#" id="zoom-in"><img src="images/zoom-in.png"/></a><br/>
    <a href="#" id="zoom-out"><img src="images/zoom-out.png"/></a>
  </div>

  <!-- GUI for layer selection-->
  <div id="ui-container" class="ui">

      <h4 class="en">Warnings</h4>
      <br/>
      <a href="#warningLetters" id="warningLetters" class="button">
        <span class="en">FDA Warning Letters</span>
      </a>
       <a href="#civilPenalties" id="civilPenalties" class="button">
        <span class="en">FDA Civil Money Penalty</span>
      </a>
      <!-- line break -->
      <hr/>

      <!-- Buttons or checkboxes for polygon layers -->
      <h4 class="en">FDA Contracts</h4>
      <br/>
      <input type="checkbox" name="dob" class="regular-checkbox dob" value="nb" id="nb"/>
        <label for="nb"></label><span class="en">Inspection Contracts</span>
      <br/>
      <h4 class="en">Incentives</h4>
      <br/>
      <input type="checkbox" name="dob" class="regular-checkbox" value="synar_checkbox" id="synar_checkbox"/>
        <label for="synar_checkbox"></label><span class="en">Synar Retailer Violations</span>
      <br/>
      <input type="checkbox" name="dob" class="regular-checkbox" value="smokefree_checkbox" id="smokefree_checkbox"/>
        <label for="smokefree_checkbox"></label><span class="en">Smokefree Laws</span>
      <br/>
      <input type="checkbox" name="dob" class="regular-checkbox" value="tax_checkbox" id="tax_checkbox"/>
        <label for="tax_checkbox"></label><span class="en">Cigarette Excise Tax</span>
      <br/>
      <h4 class="en">Smoking Rates</h4>
      <br/>
      <input type="checkbox" name="dob" class="regular-checkbox" value="youth_checkbox" id="youth_checkbox"/>
        <label for="youth_checkbox"></label><span class="en">Youth 2013</span>
      <br/>
      <input type="checkbox" name="dob" class="regular-checkbox" value="adult_checkbox" id="adult_checkbox"/>
        <label for="adult_checkbox"></label><span class="en">Adult 2014</span>
      <br/>
  </div> 

  <!-- an empty div to reder chropleth info window-->
  <div id="info-choropleth" class="ui"></div> 

   <!-- map is rendered here, all other html elements are positioned absolutely with a higher z-index -->
  <div id="map"></div>

  <!-- empty div to render the legends template in -->
  <div id="ui-legend" class="ui legend hidden"></div>

  <!-- an empty div to render the DOB Permit layer info on mouse hover -->
  <div id="tool-tip"></div>
 
 <!-- underscore template for dynamically rendering choropleth map legends -->
  <script type="text/template" class="template">
    <h4><%- legend.title %></h4>
    <div class='legend-scale'>
      <ul class='legend-labels'>
        <% _.each( legend.items, function(item){ %>
        <li><span style='background:<%-item.color %>;'></span><%-item.label%></li>
        <% }); %>
      </ul>
    </div>
   <!--  <div class='legend-source'>
      Source: <a href="http://www.nyc.gov/html/dcp/html/bytes/dwn_pluto_mappluto.shtml">Map Pluto
      </a>
    </div> -->
  </script>

  <!-- JS libraries -->
  <script src="//cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
  <script src="bower_components/leaflet-plugins/layer/tile/Bing.js"></script>
  <script src='//api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.standalone.js'></script>
  <script src="bower_components/cartodb.js/dist/cartodb.noleaflet.js"></script>

  <!-- replacing Google Maps API with key for geocoding -->
  <script src="http://maps.google.com/maps/api/js?v=3&sensor=false"></script> 

  <!-- JS code for map interaction  -->
  <script src="js/mapStyles.js"></script>  
  <script src="js/main.js"></script> 
  <script src="data/synar_states.js"></script>     
   

</body>
</html>